{{outlet}}

<div class="boxes">
  RenderDelta : {{renderDelta}}

  <input type="text" oninput={{action "setFoo" value="target.value"}}>

  {{#each content as |item|}}
  
    <div style={{box-style item}} class="box">
      {{item.content}} {{foo}}
    </div>
  
  {{/each}}
</div>


